{{ define "main" }}
<!-- {{ .Content }}
{{ range site.RegularPages }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{ .Summary }}


{{ end }} -->


<div style="max-height: 40px; margin: 0 40px; padding: 0;">
  <div style="width: 20%; margin: 10px 0px; padding: 0;">
    <img src="https://static.deriv.com/logos/red-xl.png" alt="Deriv Logo"
      style="max-height: 32px; object-fit: scale-down; left: 0;" />
  </div>
</div>
<div
  style="height: 100vh; width: 100%; background-color: #ff444f; padding: 30px 0px; display: flex; align-items: center;">
  <div>

    <div style="width: 100%; ">
      <h1 style="color: #fff;  padding: 0% 5% 30px; font-size: 2rem;">Unlock potential gains and control risks with
        multipliers</h1>
    </div>
    <a id="signup_redirect_cta" href="https://deriv.com/signup/" class="cta" target="_blank">Create a demo account</a>
  </div>

  <img
    src="https://lh3.googleusercontent.com/E0XvMFANDjofnoSkf_fwFK2DJiZbOrALphCWnQJa1FV48hPbY9_Y2Ima-Pc775FeHgP9eZiu5wDk20CG6wZaHHmwWYSp5ukD3w=w1064"
    alt="" style="height: 240px;">

</div>
<div
  style="width: 0; height: 0; border-left: 100vw solid transparent; border-bottom: 13vw solid white; margin-top: -12.5vw;">
</div>
<div style="width: 100%; background-color: transparent; text-align: center;">
</div>

{{ end }}